**/__pycache__/

./python/build/

**/.Rproj.user
**/.Rhistory
**/.RData
**/.Ruserdata
**/Latex
**/informe.log
**/informe.log.txt
**/informe.tex
**/template.tex
**/bibliografia.bib
**/plantilla.Rproj
python/dist/
python/build/